<a href="https://colab.research.google.com/github/NikGonsales/Python_Course/blob/main/untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('sample_data/california_housing_train.csv')

In [ ]:
# задача 42: Узнать какая максимальная households в зоне минимального значения population.
minimum = df['population'].min()

In [ ]:
# ответ
df[df['population'] == minimum]['households']

8232    4.0
Name: households, dtype: float64

In [ ]:
# задача 40: Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).
new = df[df['population'] < 500]

In [ ]:
new

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
17,-114.65,32.79,21.0,44.0,33.0,64.0,27.0,0.8571,25000.0
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0
21,-114.73,33.43,24.0,796.0,243.0,227.0,139.0,0.8964,59200.0
...,...,...,...,...,...,...,...,...,...
16944,-124.14,40.67,23.0,580.0,117.0,320.0,109.0,4.2054,130600.0
16951,-124.15,40.81,50.0,340.0,74.0,235.0,83.0,1.7500,67500.0
16969,-124.17,40.80,52.0,661.0,316.0,392.0,244.0,0.9570,60000.0
16982,-124.18,40.62,35.0,952.0,178.0,480.0,179.0,3.0536,107000.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0

In [ ]:
#ответ
new['median_house_value'].mean()

206683.83635227982

In [ ]:
df.tail(10)

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

In [ ]:
df.columns